<!DOCTYPE html>
<html>
<head>
  <title>Clientmanager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
</body>
</html>